<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="messageLoggingInsepctor" type="LogMessageWithBehaviour.Services.MessageLoggingBehaviour, LogMessageWithBehaviour.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <messageLoggingInsepctor />
        </behavior>
        <behavior name="web">
          <webHttp/>
          <messageLoggingInsepctor />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="v1/HelloService.svc"
             service="LogMessageWithBehaviour.Services.HelloServiceImpl"
             factory="System.ServiceModel.Activation.ServiceHostFactory" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <services>
      <service name="LogMessageWithBehaviour.Services.HelloServiceImpl">
        <endpoint binding="webHttpBinding"
                  address="json"
                  behaviorConfiguration="web"
                  contract="LogMessageWithBehaviour.Services.IHelloServiceJson">
        </endpoint>
        <endpoint binding="basicHttpBinding"
                  bindingNamespace="http://oscarkuo.com/v1/hello"
                  contract="LogMessageWithBehaviour.Services.IHelloService" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
