<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="v1/HelloService.svc"
             service="SoapAndJsonEndpoints.Services.HelloServiceImpl"
             factory="System.ServiceModel.Activation.ServiceHostFactory" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <services>
      <service name="SoapAndJsonEndpoints.Services.HelloServiceImpl">
        <endpoint binding="webHttpBinding"
                  address="json"
                  behaviorConfiguration="web"
                  contract="SoapAndJsonEndpoints.Services.IHelloServiceJson">
        </endpoint>
        <endpoint binding="basicHttpBinding"
                  bindingNamespace="http://oscarkuo.com/v1/hello"
                  contract="SoapAndJsonEndpoints.Services.IHelloService" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
